<div class="answer">
<%= image_tag "question.jpg" %>
  <div class="input">
    <%= @query %>
  </div>
  <p><i>- You</i></p>
  <div class="input">

    <%= @answer_coach %>
  </div>
  <p><i>- Your coach</i></p>
  <%= link_to("Ask a new Question", "/ask") %>
</div>  